.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

select {
  padding: 0.5em;
  color: black;
  background-color: lightgray;
  border: silver;
  border-radius: 3px;
  width: 104%;
  margin-bottom: 0.5em;
}

.about-me-left{
  background-color: #27221F;
  color: white;


}

.about-me-right {
  color: black;
  background-color: white;
}

.mdl-list-item {
  overflow: visible!important
}

.mdl-layout {
background: url(https://images.pexels.com/photos/1227520/pexels-photo-1227520.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.text-card {
  background-color: black;
  opacity: .7;
  border-radius: 5%;
}

.mdl-navigation__link {
  font-size: 17px!important
}



.nav-wrapper {
  background: linear-gradient(to right, #1565C0, #b92b27);
  width: 100%;
  height: 60px;
}